*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav{
    
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    width: 1600px;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;

}


nav .menu a{
    font-size: 16px;
    font-weight: 500px;
    color:black ;

}

button:hover{
    background-color: slategray;
}
.btn{
    background-color:#30B868 ;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600px;
}


.banner-content{
    background-image: url(./hero-bg.png);
    margin: 0 auto;
    justify-items: center;
    width: 1600px;
    height: 674px;
}

.dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    background-color: #30B868;
    margin: 10px 6px 10px 12px;
}

.btn2{
     
    font-size: 16px;
    font-weight: 500; 
    background-color: white;
    border-radius: 1000px;
    margin: auto 0px;
    text-align: center;
    
}

.arrow-icon{
    align-items:center;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 700;
}

.txtcolor{
    color: #30B868;
}

.buttons{
    display: flex;
    gap: 16px;
}

.banner-content p{
    font-size: 18px;
    font-weight: 400px;

}

.buttons{
    width: 465px;
    height: 52px;
}

.play-icon{
    font-size: 18px;
}

.btn3{
    padding: 12px 16px 12px 10px ;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    background: none;
}