*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 1600px;
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;

}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;

}


nav .menu a{
    font-size: 16px;
    font-weight: 500px;

}

.btn{
    background-color:#30B868 ;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600px;

}