#card-containar{
    display: flex;
    justify-content:center;
    padding: 20px;
    gap: 16px;

}
.cards h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding: 10px;
}

.cards p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    padding: 10px;
}
.card{
    width: 322px;
    height: 300px;
    gap: 16px;
    padding: 24px;
    border:1px solid #627382;
    border-radius: 8px;
    box-shadow: #627382;
    
    
}

.card img{
    width: 60px;
    height: 60px;
    background-color:#F95555;
}

.card h3{
    font-size: 24px;
    font-weight: 600px;
    text-align: center;
    color: #001931;
}

.card p{
    font-size: 16px;
    text-align: center;
    color: #627382;
}

.card:hover{
    background-color: antiquewhite;
}